<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
<table id="ivth-2-2-2-2-2-2-2-2-2" width="100%" height="150" style="box-sizing: border-box; height: 150px; margin: 0 auto 10px auto; padding: 5px 5px 5px 5px; width: 100%;">
    <tbody id="i48nm-2-2-2-2-2-2-2-2" style="box-sizing: border-box;">
    <tr id="ik1je-2-2-2-2-2-2-2-2" style="box-sizing: border-box;">
        <td id="i3me-2-2-2-2-2-2-2-2-2" valign="top" style="box-sizing: border-box; font-size: 12px; font-weight: 300; vertical-align: top; color: rgb(111, 119, 125); margin: 0; padding: 0;">
            <div id="ippe-2-2-2-2-2-2-2-2-2" style="box-sizing: border-box; padding: 10px;">
                <p id="iac8a-2-2-2-2-2-2-2-2" style="box-sizing: border-box; text-align: center;"><span id="i4cxm-2-2-2-2-2-2-2-2" style="box-sizing: border-box; color: #000000;"><span id="ih93q-2-2-2-2-2-2-2-2" style="box-sizing: border-box; font-size: 20px;">Hi, ${contract.client.fullName}!</span></span></p>
            </div>
            <div id="i2hb-2-2-2-2-2-2-2-2-2" style="box-sizing: border-box; padding: 10px;">
                <p id="i2fxy-2-2-2-2-2-2-2-2" style="box-sizing: border-box; text-align: center;"><strong id="iop2b-2-2-2-2-2-2-2-2" style="box-sizing: border-box;"><span id="ih8ii-2-2-2-2-2-2-2-2" style="box-sizing: border-box; color: #000000;"><span id="ihthc-2-2-2-2-2-2-2-2" style="box-sizing: border-box; font-size: 20px;">Your contract with number ${contract.number} is coming to an end. We remind you that the ${contract.dateEnd} will be the last day when the contract is still valid!</span></span></strong></p>
            </div></td>
    </tr>
    </tbody>
</table>
<table id="i4tp-2-2-2-2-2-2-2-2-2" width="100%" height="150" style="box-sizing: border-box; height: 150px; margin: 0 auto 10px auto; padding: 5px 5px 5px 5px; width: 100%;">
    <tbody id="i5qen-2-2-2-2-2-2-2-2" style="box-sizing: border-box;">
    <tr id="iaaxr-2-2-2-2-2-2-2-2" style="box-sizing: border-box;">
        <td id="io29-2-2-2-2-2-2-2-2-2" valign="top" style="box-sizing: border-box; font-size: 12px; font-weight: 300; vertical-align: top; color: rgb(111, 119, 125); margin: 0; padding: 0;">
            <table id="ik0cr-2-2-2-2-2-2-2-2-2" width="100%" height="150" style="box-sizing: border-box; height: 150px; margin: 0 auto 10px auto; padding: 5px 5px 5px 5px; width: 100%;">
                <tbody id="iqsew-2-2-2-2-2-2-2-2" style="box-sizing: border-box;">
                <tr id="iazid-2-2-2-2-2-2-2-2" style="box-sizing: border-box;">
                    <td id="iprj5-2-2-2-2-2-2-2-2-2" width="50%" valign="top" style="box-sizing: border-box; font-size: 12px; font-weight: 300; vertical-align: top; color: rgb(111, 119, 125); margin: 0; padding: 0; width: 50%;"></td>
                </tr>
                </tbody>
            </table></td>
    </tr>
    </tbody>
</table>
<table id="iz9d1-2-2-2-2-2-2-2" width="100%" height="150" style="box-sizing: border-box; height: 150px; margin: 0 auto 10px auto; padding: 5px 5px 5px 5px; width: 100%;">
    <tbody id="i1wgt-2-2-2-2-2-2" style="box-sizing: border-box;">
    <tr id="i9x3g-2-2-2-2-2-2" style="box-sizing: border-box;">
        <td id="i8wxk-2-2-2-2-2-2-2" width="50%" valign="top" style="box-sizing: border-box; font-size: 12px; font-weight: 300; vertical-align: top; color: rgb(111, 119, 125); margin: 0; padding: 0; width: 50%;">
            <table id="ig5rw-2-2-2-2-2-2-2" width="100%" height="150" style="box-sizing: border-box; height: 150px; margin: 0 auto 10px auto; padding: 5px 5px 5px 5px; width: 100%;">
                <tbody id="i3bck-2-2-2-2-2-2" style="box-sizing: border-box;">
                <tr id="iwswe-2-2-2-2-2-2" style="box-sizing: border-box;">
                    <td id="iceff-2-2-2-2-2-2-2" width="50%" valign="top" style="box-sizing: border-box; font-size: 12px; font-weight: 300; vertical-align: top; color: rgb(111, 119, 125); margin: 0; padding: 0; width: 50%;">
                        <div id="i2c4h-2-2-2-2-2-2-2" style="box-sizing: border-box; padding: 10px;">
                            <p id="itc76-2-2-2-2-2-2" style="box-sizing: border-box; text-align: center;"><span id="ilpdt-2-2-2-2-2-2" style="box-sizing: border-box; font-size: 20px;"><span id="issf6-2-2-2-2-2-2" style="box-sizing: border-box; color: #3498db;">Contacts</span></span>:</p>
                        </div></td>
                    <td id="i29dn-2-2-2-2-2-2-2" width="50%" valign="top" style="box-sizing: border-box; font-size: 12px; font-weight: 300; vertical-align: top; color: rgb(111, 119, 125); margin: 0; padding: 0; width: 50%;">
                        <div id="imlsl-2-2-2-2-2-2-2" style="box-sizing: border-box; padding: 10px;">
                            <p id="io7ps-2-2-2-2-2-2" style="box-sizing: border-box;"><span id="iqw8j-2-2-2-2-2" style="box-sizing: border-box; color: #3498db;"><span id="isa8t-2-2-2-2-2" style="box-sizing: border-box; font-size: 20px;">phone:&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;${contract.filial.phone}</span></span></p>
                            <p id="itcsk-2-2-2-2-2-2" style="box-sizing: border-box;"><span id="ih2d7-2-2-2-2" style="box-sizing: border-box; color: #3498db;"><span id="ium94-2-2-2-2" style="box-sizing: border-box; font-size: 20px;">address:&nbsp; &nbsp; &nbsp; &nbsp;${contract.filial.address}</span></span></p>
                            <p id="i3odd-2-2-2-2" style="box-sizing: border-box;"><span id="i3qwj-2-2-2-2" style="box-sizing: border-box; color: #3498db;"><span id="ifvaq-2-2-2-2" style="box-sizing: border-box; font-size: 20px;">email:&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ${contract.filial.email}</span></span></p>
                            <p id="i3rci-2-2-2-2-2" style="box-sizing: border-box;"><span id="ir8jr-2-2-2-2" style="box-sizing: border-box; color: #3498db;"></span></p>
                        </div></td>
                </tr>
                </tbody>
            </table></td>
    </tr>
    </tbody>
</table>
</body>
</html>