<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<table id="iicc-2-2-2-2-2-2-2-2" width="100%" height="150" style="box-sizing: border-box; height: 150px; margin: 0 auto 10px auto; padding: 5px 5px 5px 5px; width: 100%;">
  <tbody id="it9qz-2-2-2-2-2-2-2" style="box-sizing: border-box;">
  <tr id="iyy0x-2-2-2-2-2-2-2" style="box-sizing: border-box;">
    <td id="ivj7-2-2-2-2-2-2-2-2" valign="top" style="box-sizing: border-box; font-size: 12px; font-weight: 300; vertical-align: top; color: rgb(111, 119, 125); margin: 0; padding: 0;">
      <div id="irho-2-2-2-2-2-2-2-2" style="box-sizing: border-box; padding: 10px;">
        <p id="im94g-2-2-2-2-2-2-2" style="box-sizing: border-box; text-align: center;"><span id="ijhjg-2-2-2-2-2-2-2" style="box-sizing: border-box; color: #000000;"><span id="iq60v-2-2-2-2-2-2-2" style="box-sizing: border-box; font-size: 20px;">Changes have been made to contract ${contract.number}!</span></span></p>
      </div>
      <table id="i1ji-2-2-2-2-2-2-2-2" width="100%" height="150" style="box-sizing: border-box; height: 150px; margin: 0 auto 10px auto; padding: 5px 5px 5px 5px; width: 100%;">
        <tbody id="iklw4-2-2-2-2-2-2-2" style="box-sizing: border-box;">
        <tr id="i0g1-2-2-2-2-2-2-2-2" style="box-sizing: border-box;">
          <td id="ix5i-2-2-2-2-2-2-2-2" width="50%" valign="top" style="box-sizing: border-box; font-size: 12px; font-weight: 300; vertical-align: top; color: rgb(111, 119, 125); margin: 0; padding: 0; width: 50%;">
            <div id="i770b-2-2-2-2-2-2-2-2" style="box-sizing: border-box; padding: 10px;">
              <p id="inp0m-2-2-2-2-2-2-2" style="box-sizing: border-box; text-align: right;"><span id="izu6i-2-2-2-2-2-2-2" style="box-sizing: border-box; color: #000000;"><span id="i6ltk-2-2-2-2-2-2-2" style="box-sizing: border-box; font-size: 20px; text-align: right;">Description of changes:</span></span><br id="ixkqa-2-2-2-2-2-2-2" style="box-sizing: border-box;"></p>
            </div></td>
          <td id="ihf23-2-2-2-2-2-2-2-2" width="50%" valign="top" style="box-sizing: border-box; font-size: 12px; font-weight: 300; vertical-align: top; color: rgb(111, 119, 125); margin: 0; padding: 0; width: 50%;">
            <div id="i0i0i-2-2-2-2-2-2-2-2" style="box-sizing: border-box; padding: 10px;">
              <p id="i1yej-2-2-2-2-2-2-2" style="box-sizing: border-box;"><span id="izxa3-2-2-2-2-2-2-2" style="box-sizing: border-box; color: #000000;"><span id="imxtk-2-2-2-2-2-2-2" style="box-sizing: border-box; font-size: 20px;">${str}</span></span></p>
            </div></td>
        </tr>
        </tbody>
      </table></td>
  </tr>
  </tbody>
</table>
<table id="ippu7-2-2-2-2-2-2-2-2" width="100%" height="150" style="box-sizing: border-box; height: 150px; margin: 0 auto 10px auto; padding: 5px 5px 5px 5px; width: 100%;">
  <tbody id="iscmc-2-2-2-2-2-2-2" style="box-sizing: border-box;">
  <tr id="ifugu-2-2-2-2-2-2-2" style="box-sizing: border-box;">
    <td id="iah7o-2-2-2-2-2-2-2-2" valign="top" style="box-sizing: border-box; font-size: 12px; font-weight: 300; vertical-align: top; color: rgb(111, 119, 125); margin: 0; padding: 0;">
      <div id="i7n85-2-2-2-2-2-2-2-2" style="box-sizing: border-box; padding: 10px;">
        <p id="iim9o-2-2-2-2-2-2-2" style="box-sizing: border-box; text-align: center;"><span id="ia26z-2-2-2-2-2-2-2" style="box-sizing: border-box; color: #000000;"><span id="i50tk-2-2-2-2-2-2-2" style="box-sizing: border-box; font-size: 20px;">If you do not agree with these changes, contact your insurance company immediately "${contract.filial.name}". (contacts are below)</span></span></p>
      </div>
      <table id="isamn-2-2-2-2-2-2-2-2" width="100%" height="150" style="box-sizing: border-box; height: 150px; margin: 0 auto 10px auto; padding: 5px 5px 5px 5px; width: 100%;">
        <tbody id="iu7rgh-2-2-2-2-2-2-2" style="box-sizing: border-box;">
        <tr id="isc9vi-2-2-2-2-2-2-2" style="box-sizing: border-box;"></tr>
        </tbody>
      </table></td>
  </tr>
  </tbody>
</table>
<table id="in2dd-2-2-2-2-2-2-2-2" width="100%" height="150" style="box-sizing: border-box; height: 150px; margin: 0 auto 10px auto; padding: 5px 5px 5px 5px; width: 100%;">
  <tbody id="izctv8-2-2-2-2-2-2-2" style="box-sizing: border-box;">
  <tr id="i0xrck-2-2-2-2-2-2-2" style="box-sizing: border-box;">
    <td id="ik8pi-2-2-2-2-2-2-2-2" valign="top" style="box-sizing: border-box; font-size: 12px; font-weight: 300; vertical-align: top; color: rgb(111, 119, 125); margin: 0; padding: 0;">
      <table id="idlbg-2-2-2-2-2-2-2-2" width="100%" height="150" style="box-sizing: border-box; height: 150px; margin: 0 auto 10px auto; padding: 5px 5px 5px 5px; width: 100%;">
        <tbody id="itxyoj-2-2-2-2-2-2-2" style="box-sizing: border-box;">
        <tr id="il2s05-2-2-2-2-2-2-2" style="box-sizing: border-box;">
          <td id="i8tqg-2-2-2-2-2-2-2-2" width="50%" valign="top" style="box-sizing: border-box; font-size: 12px; font-weight: 300; vertical-align: top; color: rgb(111, 119, 125); margin: 0; padding: 0; width: 50%;">
            <div id="iaz15-2-2-2-2-2-2-2-2" style="box-sizing: border-box; padding: 10px;">
              <p id="i8236f-2-2-2-2-2-2-2" style="box-sizing: border-box; text-align: center;"><span id="isn3mp-2-2-2-2-2-2-2" style="box-sizing: border-box; font-size: 20px;"><span id="i74vsh-2-2-2-2-2-2-2" style="box-sizing: border-box; color: #3498db;">Contacts:</span></span><br id="izlu5c-2-2-2-2-2-2-2" style="box-sizing: border-box;"></p>
            </div></td>
          <td id="iuntl-2-2-2-2-2-2-2-2" width="50%" valign="top" style="box-sizing: border-box; font-size: 12px; font-weight: 300; vertical-align: top; color: rgb(111, 119, 125); margin: 0; padding: 0; width: 50%;">
            <div id="i5lxo-2-2-2-2-2-2-2-2" style="box-sizing: border-box; padding: 10px;">
              <p id="in7qp2-2-2-2-2-2-2-2" style="box-sizing: border-box;"><span id="i2m89q-2-2-2-2-2-2-2" style="box-sizing: border-box; color: #3498db;"><span id="izj94h-2-2-2-2-2-2-2" style="box-sizing: border-box; font-size: 20px;">phone:&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;${contract.filial.phone}</span></span><br id="ivp0yy-2-2-2-2-2-2-2" style="box-sizing: border-box;"></p>
              <p id="iydp0k-2-2-2-2-2-2-2" style="box-sizing: border-box;"><span id="iw2bdr-2-2-2-2-2-2-2" style="box-sizing: border-box; color: #3498db;"><span id="irgqek-2-2-2-2-2-2-2" style="box-sizing: border-box; font-size: 20px;">address:&nbsp; &nbsp; &nbsp; &nbsp;${contract.filial.address}</span></span></p>
              <p id="i899qs-2-2-2-2-2-2-2" style="box-sizing: border-box;"><span id="i36drd-2-2-2-2-2-2-2" style="box-sizing: border-box; color: #3498db;"><span id="innbcf-2-2-2-2-2-2-2" style="box-sizing: border-box; font-size: 20px;">email:&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ${contract.filial.email}</span></span></p>
            </div></td>
        </tr>
        </tbody>
      </table></td>
  </tr>
  </tbody>
</table>
</body>
</html>